body {
    padding: 0;
    margin: 0;
}

/* .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
/* } */
.button {
    position: absolute;
    z-index:1000;
    height: 50px;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    color: white;
    text-align: center;
    line-height: 50px;
}
.button.col1{
    background-color: red;
}
.button.col2{
    background-color: greenyellow;
}
.button.col3{
    background-color:yellow;
}
.button.col4{
    background-color: blueviolet;
}
.button.col5{
    background-color: khaki;
}
.button.col6{
    background-color: olivedrab;
}
.button.col7{
    background-color: blue;
}
.button.col8{
    background-color: indianred;
}

